.container {
  background-color: var(--main-bg);
  color: var(--main-txt);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  header {
    display: flex;
    height: 40%;
    line-height: 100%;

    .home {
      flex: 1;
      font-size: 200%;
      text-align: center;

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }

    .searchBox {
      flex: 6;
      display: flex;
      position: relative;
      height: 100%;
      margin-left: 5px;

      input {
        flex: 4;
        background-color: inherit;
        color: var(--main-txt);
        border: 1px solid var(--border-color);
        padding-left: 10px;
        letter-spacing: 2px;
        font-size: 16px;

        &:focus,
        &:focus-visible {
          outline: none;
          box-shadow: 0 0 6px var(--primary-color);
          border: 1px solid var(--primary-color);
        }
      }

      select {
        position: absolute;
        top: 50%;
        right: 90px;
        transform: translateY(-50%);
        border: none;
        font-size: 16px;
        background-color: inherit;
        color: var(--main-txt);
        width: 60px;

        &:focus-visible {
          outline: none;
        }

        option {
          background-color: var(--main-bg);
        }
      }

      button {
        width: 10%;
        min-width: 50px;
      }
    }

    .btn {
      flex: 1;
      display: flex;
      justify-content: center;
      margin-right: 5px;

      button {
        padding: 0 10px;
      }
    }

    button {
      height: 100%;
      background-color: inherit;
      color: var(--main-txt);
      border: 1px solid var(--border-color);

      &:hover {
        background-color: var(--main-txt);
        color: var(--main-bg);
      }
    }
  }
}
