.homeContent {
  p {
    font-size: 255%;
    color: var(--main-txt);
    width: 60%;
    margin: 40px auto;
    text-align: center;
  }

  hr {
    width: 60%;
    margin: 0 auto;
  }
}
